<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/escalas</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.format_sql">true</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!--property name="hbm2ddl.auto">update</property -->

		<!-- Livro -->
		<mapping class="br.gov.hucm.entidades.Usuario" />
		<mapping class="br.gov.hucm.entidades.Enfermeiro" />
		<mapping class="br.gov.hucm.entidades.Feriados" />
		<mapping class="br.com.meuprojeto.bean.Setor" />
		<mapping class="br.com.meuprojeto.bean.Foto" />
		<mapping class="br.com.meuprojeto.bean.Livro" />

	</session-factory>
</hibernate-configuration>